<% layout("/layouts/boilerplate") %>
<style>
    .student-doubt-heading{
        color: #0a85a3;
        text-align: center;
        margin-top: 10px;
    }
    label{
        color: #134f8b;
    }
    #image{
        background-color: #fff;
        margin-right: 15px;
    }
    .doubt-button{
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        background-color: #0a85a3;
        margin: 3px 0 16px 0;
    }
    .button:hover{
        background-color: #3b90e5;
    }
    .submit-button-container{
        text-align: center;
    }
    .remove-button:hover{
        background-color: #e74c3c;
    }
    #maxLimitMessage{
        display: none;
        text-align: center;
    }
</style>
<body>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="student-doubt-heading">Add a doubt</h2>
        <div id="maxLimitMessage" class="alert alert-danger alert-dismissible fade show col-lg-6 offset-lg-3 offset-md-3 col-md-6" role="alert">
            <button type="button" id="close-button" class="btn-close"></button>
            You reached your maximum limit
        </div>
        <form action="/doubts/<%= studentId %>/doubt" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            <div id="uploadForm">
                <div>
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" id="image" class="form-control" name="doubt[image]" required>
                </div>
                <button id="addImageButton" type="button" class="doubt-button button">Add more images</button><br>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">title</label>
                <input type="text" id="title" class="form-control" name="doubt[title]" placeholder="Enter your title" required>       
            </div>
            <div class="mb-3">
                <label for="class" class="form-label">class</label>
                <input type="text" id="class" class="form-control" name="doubt[class]" placeholder="Enter your class" required>        
            </div>
            <div class="mb-3">
                <label for="subject" class="form-label">subject</label>
                <input type="text" id="subject" class="form-control" name="doubt[subject]" placeholder="Enter your subject" required>
            </div>
            <div class="mb-3">
                <label for="topic" class="form-label">topic</label>
                <input type="text" id="topic" class="form-control" name="doubt[topic]" placeholder="Enter your topic" required>
            </div>
            <div class="mb-3">
                <label for="teacher" class="form-label">Select your teacher</label>
                <select name="doubt[teacher]" id="teacher" class="form-select" required>
                    <option value="none">Select Your Teacher</option>
                    <% for(tchr of allTeachers) {%>
                        <option value="<%= tchr._id %>"><%= tchr.name %>&nbsp;&nbsp;(<%= tchr.subject %>)</option>
                    <% } %>
                </select>
            </div>
            <input type="hidden" name="doubt[student]" value="<%= studentId %>">
            <div class="submit-button-container"><button class="doubt-button button">Submit</button></div>
    
        </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
const addButton = document.getElementById('addImageButton');
const uploadForm = document.getElementById('uploadForm');
const maxImages = 9; // Maximum number of image upload fields allowed

addButton.addEventListener('click', function() {
  // Check if maximum limit reached
  if (uploadForm.children.length / 3 >= maxImages) {
    const maxLimitMessage = document.getElementById('maxLimitMessage');
    const closeButton = document.getElementById('close-button');
    maxLimitMessage.style.display = 'block';
    closeButton.addEventListener('click', function() {
      maxLimitMessage.style.display = 'none';
    });
    return; 
  }

  // Create label element
  const label = document.createElement('label');
  label.setAttribute('for', `image${uploadForm.children.length}`);
  label.setAttribute('class', `form-label`);
  label.innerHTML = 'Upload Image&nbsp;';

  // Create input element
  const input = document.createElement('input');
  const br = document.createElement('br');
  input.setAttribute('type', 'file');
  input.setAttribute('id', `image${uploadForm.children.length}`);
  br.setAttribute('id', `br${uploadForm.children.length}`)
  input.setAttribute('name', `doubt[image]`);
  input.setAttribute('id', `image`);
  input.setAttribute('class', `form-control`);
  input.setAttribute('required', '');

  // Create remove button
  const removeButton = document.createElement('button');
  removeButton.textContent = 'Remove';
  removeButton.setAttribute('class', 'doubt-button remove-button');
  removeButton.addEventListener('click', function() {
    uploadForm.removeChild(label);
    uploadForm.removeChild(input);
    uploadForm.removeChild(removeButton);
    uploadForm.removeChild(br);
  });

  // Append label, input, remove button, and line break to uploadForm
  uploadForm.appendChild(label);
  uploadForm.appendChild(input);
  uploadForm.appendChild(removeButton);
  uploadForm.appendChild(br);
});
});

    </script>
</body>


